<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<form id="userform" name="userform" th:fragment="userform" th:method="post" th:action="@{/user}" th:object="${userForm}" class="needs-validation" novalidate>
	<!-- contents start-->
	<div class="contents" id="contents">
		<div class="contents-header">ユーザ登録</div>
		<!-- contents-body start-->
		<div th:replace="~{sub/userform :: userform}"></div>
		<!-- contents-body end-->
		<div class="contents-footer border-0" id="contents-footer-insert">
			<button type="submit" name="insert" class="btn btn-primary btn-lg btn-block"  onclick="return confirm('このユーザー登録を登録します。\nよろしいですか？')"><i class="fas fa-ad fa-1x mr-2"></i>上記内容で登録する</button>
		</div>
	</div>
	<!-- contents end-->
</form>
</html>