<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<form id="userform" th:fragment="userform" name="userform" th:method="post" th:action="@{/user}" th:object="${userForm}" class="needs-validation" novalidate>
	<!-- contents start-->
	<div class="contents" id="contents">
		<div class="contents-header">ユーザ参照</div>
		<!-- contents-body start-->
		<div th:replace="~{sub/userform :: userform}"></div>
		<!-- contents-body end-->
		<div class="contents-footer" id="contents-footer-back">
			<a href="/user" class="btn btn-secondary"><i class="fas fa-arrow-circle-left fa-1x mr-2"></i>戻る</a>
		</div>
	</div>
	<!-- contents end-->
</form>
</html>