<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="BRGD :: head(パスワード変更)"></head>
<meta charset="utf-8">
<body>
<!-- header_start -->
<div th:replace="BRGD :: indexheader"></div>
<!-- header_end -->
<!-- menubutton_end -->
<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu" style="display: none;">
<!-- menubutton_end -->
<!-- menuset_end -->
<div th:replace="BRGD :: labelmenu"></div>
<!-- menuset_end -->
<!-- menu_start -->
<div th:replace="BRGD :: indexmenu"></div>
<!-- menu_end -->
<!-- main start -->
<div class="main">
	<div class="container-fluid">
		<!-- エラー表示エリア start-->
		<div class="alert alert-danger" role="alert" th:if="${isError}">
			<ul>
				<li th:each="message: ${errorList}" th:text="${message.defaultMessage}"></li>
			</ul>
		</div>
		<!-- エラー表示エリア end-->
		<!-- 成功メッセージ表示エリア start-->
		<div class="alert alert-info" id="successArea" role="alert" th:if="${success}">新パスワードは有効になりました</div>
		<!-- 成功メッセージ表示エリア end-->
		<form name="form" th:action="@{/password}" th:method="post" th:object="${form}">
			<input type="hidden" th:field="*{userCd}">
			<div class="contents">
				<div class="contents-header mt-3">パスワード変更</div>
				<div class="contents-body">
					<div class="form-group col-md-4">
						<label>旧パスワード</label> <input type="text" class="form-control" th:field="*{passwordOld}"
													 placeholder="旧パスワード">
					</div>
					<div class="form-group col-md-4">
						<label>新パスワード</label> <input type="text" class="form-control" th:field="*{passwordNew}"
													 placeholder="新パスワード">
					</div>
					<div class="form-group col-md-4">
						<label>新パスワード確認</label> <input type="text" class="form-control" th:field="*{passwordNewConfirm}"
													   placeholder="新パスワード確認">
					</div>
				</div>
				<div class="contents-footer">
					<button type="submit" id="reset" name="reset" class="btn btn-info"><i
							class="fas fa-cog fa-1x mr-2"></i>変更
					</button>
				</div>
			</div>
			<!-- contents -->
		</form>
		<!-- from -->
	</div>
	<!-- container-fluid -->
</div>
<!-- main end-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>